<style type="text/css">
	.codeQR .popup {
    min-width: 80% !important;
    height: 230px;
}

.codeQR .popup-title {
    color: #AAAAAA;
    font-weight: bold;
}

.codeQR .popup-body {
    overflow: inherit !important;
    text-align: center;
    position: relative;
}

.codeQR .btncode {
    position: absolute;
    right: -22px;
    bottom: -20px;
    width: 45px;
    cursor: pointer;
}

	
</style>

<div text="codeQr" size="120"></div>
<img src="img/close.png"   />
<p class="deliverCode">Verifique su conexion a internet</p>
<button ng-click="closeModal()"> Cerrar</button>