<ion-view view-title="Configuracion">





        <ion-nav-bar class="bar-assertive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">

            <ion-nav-back-button class="no-text">


            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>

        
            </ion-nav-buttons>
        </ion-nav-bar>


    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">




<ul class="list">

  <li style="margin-left: 16px;
margin-top: 30px;" class=" item-toggle">
    <span style="color: #444; font-size:16px"> Activar Notificaciones</span><br><span style="font-size:13px;color: #444;margin-top: 5px "> Mostrar notificaciones en la parte superior de la pantalla</span>
     <label style="margin-top:30px" class="toggle toggle-assertive">
       <input type="checkbox" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

    <label style="margin-top:40px" class=" item-input item-select">
    <div style="width: 70%; font-size:16px;color: #444; " class="input-label">
      Notificar cuando falten
    </div>
    <select ng-model='personas' ng-change='cambiarPersonas(personas)' >
      <option value='5' selected>5 personas</option>

      <option value='6'>6 personas</option>
      <option value='7'>7 personas</option>
      <option value='8'>8 personas</option>
      <option value='9' >9 personas</option>
      <option value='10'>10 personas</option>
      <option value='11'>11 personas</option>
      <option value='12'>12 personas</option>
      <option value='13' >13 personas</option>
      <option value='14'>14 personas</option>
      <option value='15'>15 personas</option>


    </select>
  </label>



</ul>





    </ion-content>
</ion-view>
